.top-cont {
  background: url('../img/web-bg.png?1345031839');
  margin-bottom: 0px;
}

.cartonama-banner {
  padding-top: 1em;
}

.button-bar {
  text-align: center;
}
.button-bar a {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

h2 {
  border-bottom: solid 1px #cccccc;
  text-align: right;
  color: #181818;
  font-weight: bold;
  line-height: 1.25;
}

.bottom-cont {
  background: #c4c4c4;
  background: -moz-linear-gradient(top, #c4c4c4 0%, white 18%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4c4c4), color-stop(18%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #c4c4c4 0%, white 18%, white 100%);
  background: -o-linear-gradient(top, #c4c4c4 0%, white 18%, white 100%);
  background: -ms-linear-gradient(top, #c4c4c4 0%, white 18%, white 100%);
  background: linear-gradient(top, #c4c4c4 0%, #ffffff 18%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#ffffff',GradientType=0 );
  border-top: 10px solid black;
}

.bottom-cont p {
  text-align: justify;
  font-size: medium;
  padding: 10px;
}

.map-box {
  position: relative;
}

.map {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0 0 3 0;
  padding: 0;
}

ul.twitter_update_list {
  list-style: none;
  margin-left: 0;
}

.twitter_id {
  font-weight: bold;
}
