.top-cont
  background: image-url('web-bg.png')


.cartonama-banner
  padding-top: 1em

.button-bar
  text-align: center
  a
    width: 50%
    display: block
    margin-left: auto
    margin-right: auto
    margin-bottom: 2em

h2
  border-bottom: solid 1px #CCC
  text-align: right
  color: #181818
  font-weight: bold
  line-height: 1.25