{% from theme("inc/map_script.html") import mapscript -%}
{% extends theme("layout.html") %}
{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}

{% block headerbox %}
<header class="header top-cont">
  {{ networkbar(siteid='events', login=true,  baseclass='hg-dark') }}
  <div class="container cartonama-banner" id="page-header">
    <div class="row">
      <div class="span4"><img src="{{ theme_static('img/hg-logo.png') }}"></div>
      <div class="span8">...</div>
    </div>
    <div class="row">
      <div class="span8"><img src="{{ theme_static('img/cartonama-logo.png') }}"></div>
      <div class="span4 button-bar">
        <a href="#proposals" class="btn btn-large btn-info">Proposals</a>
        <a href="#venue" class="btn btn-large btn-info">Venue</a>
        <a href="/2012/register" class="btn btn-large btn-danger">Buy Tickets</a>
      </div>
    </div>
  </div>
  {% include theme("inc/nav_menu.html") %}
</header>
{% endblock %}

{% block content -%}
<section id="about" class="section" >
	{% include theme("inc/about.html") %}
</section>
<section id="blog" class="section">
{% include theme("inc/blog.html") %}

</section>
<section id="proposals" class="section">
{% include theme("inc/proposals.html") %}

</section>
<section id="event-sponsors" class="section">
	{% include theme("inc/sponsors.html") %}
</section>

	{% include theme("inc/venue.html") %}
</section>
<section id="about-hasgeek" class="section">
	<h2>Partners</h2>
	<div class="row">
	<div class="span6">
	{% with f = fragment('2012', 'about-cis') %}
	<h3>{{ f.title }}</h3>
	{{ f.content }}
	{% endwith %}
	</div>
	<div class="span6">
	{% with f = fragment('2012', 'about-hasgeek') %}
	<h3>{{ f.title }}</h3>
	{{ f.content }}
	{% endwith %}
	</div>
	</div>
</section>
{%- endblock %}

{% block footerscripts %}
{{ mapscript(getnode('2012', 'venue-map')) }}
<script type="text/javascript">
  $(document).ready(function() {
    $("#twitter").getTwitter({
      userName: "cartonama",
      numTweets: 5,
      loaderText: "Loading tweets...",
      slideIn: true,
      showHeading: false,
      headingText: "Latest Tweets",
      showProfileLink: false
    });
  });
</script>
{% endblock %}
