{% from theme("inc/map_script.html") import mapscript -%}
{% extends theme("layout.html") %}
{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}

{% block content -%}
<section id="about" class="section" >
	{% include theme("inc/about.html") %}
</section>
<section id="blog" class="section">
{% include theme("inc/blog.html") %}

</section>
<section id="proposals" class="section">
{% include theme("inc/proposals.html") %}

</section>
<section id="event-sponsors" class="section">
	{% include theme("inc/sponsors.html") %}
</section>

	{% include theme("inc/venue.html") %}
</section>
<section id="about-hasgeek" class="section">
	<h2>Partners</h2>
	<div class="row">
	<div class="span6">
	{% with f = fragment('2012', 'about-cis') %}
	<h3>{{ f.title }}</h3>
	{{ f.content }}
	{% endwith %}
	</div>
	<div class="span6">
	{% with f = fragment('2012', 'about-hasgeek') %}
	<h3>{{ f.title }}</h3>
	{{ f.content }}
	{% endwith %}
	</div>
	</div>
</section>
{%- endblock %}

{% block footerscripts %}
{{ mapscript(getnode('2012', 'venue-map')) }}
<script type="text/javascript">
  $(document).ready(function() {
    $("#twitter").getTwitter({
      userName: "cartonama",
      numTweets: 5,
      loaderText: "Loading tweets...",
      slideIn: true,
      showHeading: false,
      headingText: "Latest Tweets",
      showProfileLink: false
    });
  });
</script>
{% endblock %}
