{% extends theme("layout.html") %}
{% from theme("inc/map_script.html") import mapscript -%}
{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}


{% block content -%}
{% include theme("inc/about.html") %}
{{ node.content }}

<section id="proposals" class="section">
	<h2>Proposals</h2>
	<p>The Funnel is <strong>accepting </strong>proposals. <a href="http://funnel.hasgeek.com/cartonama/">Head there to propose or vote and comment existing proposals.</a></p>
</section>
<section id="event-sponsors" class="section">
{% include theme("inc/sponsors.html") %}
</section>
<section id="venue" class="section">
{% include theme("inc/venue.html") %}

</section>
<section id="about-hasgeek" class="section">
	<h2>About HasGeek</h2>
	<p>HasGeek was initiated in September 2010 to create discussion spaces for developers around emerging technologies. Our events are developer-focused. We began by organizing five editions of the DocType HTML5 conference in Bangalore, Chennai, Pune, Hyderabad and Ahmedabad.</p>

	<p>In 2011, we organized a series of events in Bangalore starting with the Android Camp in April, PHP and Cloud Computing in June, JSFoo in October, and Droidcon India in November. Each of these events had an open talks submission and voting system, which made every event more participant-focused.</p>

	<p>In 2012, we are attempting to reach out to a wider audience of developers, entrepreneurs and students, across large and small Indian cities, by addressing interesting technology problems such as UI Engineering, Data Science, SMS and email notifications, among others.</p>
</section>
{%- endblock %}

{% block footerscripts %}
{{ mapscript(getnode('2012', 'venue-map')) }}
{% endblock %}