<ul class="grid schedule container-fluid">
  <li class="row-fluid item">
    <div class="span2">8:30 – 9:45</div>
    <div class="span10 keynote">Registrations</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:45 – 10:00</div>
    <div class="span10 keynote">Introductions</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:00 - 10:30</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/458-the-classic-the-radical-and-the-weird-a-brief-history-of-making-maps">The Classic, the Radical and the Weird - A Brief History of Making Maps</a> —Sumandro "Riju" Chattopadhyay</h4>
    </div>
  </li>
    <li class="row-fluid item">
    <div class="span2">10:30 - 11:00</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/469-challenges-and-best-practises-when-working-with-location-based-data">Challenges and Best Practices when working with location based data</a> —Varun Shingal</h4>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:00 - 11:15</div>
    <div class="span10 keynote">Tea</div>
  </li>
    <li class="row-fluid item">
    <div class="span2">11:15 - 11:45</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/470-locations-services-at-yahoo">Locations services at Yahoo!</a> —Sunil Pai</h4>
    </div>
  </li>
    <li class="row-fluid item">
    <div class="span2">11:45 - 12:15</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/477-solving-where-am-i-problem-lokasi">Solving Where Am I Problem - Lokasi</a> —Mayank Sharma</h4>
    </div>
      <li class="row-fluid item">
    <div class="span2">12:15 - 12:45</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/467-mapping-a-solution-to-an-unknown-location">Mapping a Solution to an Unknown Location</a> —Kristine Gali</h4>
    </div>
    </li>
  </li>

    <li class="row-fluid item">
    <div class="span2">12:45 - 1:45</div>
    <div class="span10 keynote">Lunch</div>
  </li>

  <li class="row-fluid item">
    <div class="span2">1:45 - 2:15</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/488-3-real-world-map-related-projects">3 real-world map-related projects</a> —Sanjay Bhangar</h4>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:15 - 2:45</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/502-geohash-system-and-nearby-searches">Geohash System and "Nearby" searches</a> —Sandeep Bhaskar</h4>
    </div>
  </li>
    <li class="row-fluid item">
    <div class="span2">2:45 - 3:15</div>
    <div class="span10 keynote">Demos</div>
  </li>
    <li class="row-fluid item">
    <div class="span2">3:15 - 3:30</div>
    <div class="span10 keynote">Tea</div>
  </li>
    <li class="row-fluid item">
    <div class="span2">3:30 - 4:00</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/507-building-a-location-based-platform-application-from-zero">Building a location-based platform/application from Zero</a> —Raviteja Dodda</h4>
    </div>
  </li>
    <li class="row-fluid item">
    <div class="span2">4:00 - 4:30</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/cartonama/520-gis-based-framework-for-real-estate-analytics">GIS based framework for Real Estate Analytics</a> —Venkateswaran M</h4>
    </div>
  </li>
  
  <li class="row-fluid item">
    <div class="span2">4:30 - 5:30</div>
    <div class="span10 keynote">Panel</div>
  </li>

    <li class="row-fluid item">
    <div class="span2">5:30 - 5:45</div>
    <div class="span10 keynote">Closing and feedback</div>
  </li> 
</ul>